
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="font-weight:bold; text-align:center" >GIỚI THIỆU</h1>
<h4 style="text-align:center; line-height:1.5">
    Được thành vào những ngày cuối cùng của năm 2020,

    Đồng Hồ Trio đã tồn tại và phát triển đến ngày nay và đang dần vươn lên

    trở thành 1 trong những chuỗi bán lẻ đồng hồ hàng đầu ở Việt Nam.
    Cùng với tiêu chí luôn đề cao những giá trị cao nhất cho khách hàng,
    Trio không chỉ mang đến những phiên bản đồng hồ chính hãng với chất lượng tốt nhất,
    mà còn mang lại sự an tâm, tin cậy dành cho Quý khách hàng.
    Ông Trương Hoài Phong – CEO của Đồng Hồ Trio tâm sự:
    “Chúng tôi không kinh doanh đồng hồ đơn thuần mà chúng tôi chia sẻ niềm đam mê và sáng tạo”.
    Đồng Hồ Trio sẽ là cầu nối của cộng đồng yêu thích đồng hồ – 
    nơi mà có thể mọi thành viên có thể kết nối, gắn kết cùng 1 tình yêu – đó là đồng hồ.
</h4>

