@model MvcWatchStore.Models.LOAISP

@{
    ViewBag.Title = "Xoaloai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red">XÁC NHẬN THÔNG TIN LOẠI CẦN XÓA</h2>

<h3>Bạn có chắc muốn xóa loại này?</h3>
<div>
    <h4>LOAISP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Loai")
        </div>
    }
</div>
